@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.swiper-slide {
  width: auto !important;
}

.tooltip {
  display: flex;
  padding: 8px 4px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  color: '#1d1d1e';
  box-shadow: 0px 2px 8px 0px rgba(192, 191, 206, 0.5);
  backdrop-filter: blur(3px);
  width: max-content;
}
